absl-py
attrs
click
Flask
Flask-Cors
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mediapipe
opencv-python-headless
pandas
protobuf
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
typing_extensions
Werkzeug
zipp
translate